* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 100px auto;
  width: 600px;
}
.container h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}
.container h2 span {
  position: absolute;
  top: -7px;
  right: -24px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
}
.container table {
  border: 1px solid #000;
  border-collapse: collapse;
}
.container table th,
td {
  padding: 4px 80px;
  border: 1px solid #000;
}

.container tfoot tr td {
  padding-left: 0;
  text-align-last: left;
}

.container h2 i {
  color: #ccc;
  font-size: 20px;
}
