<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  >
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Document</title>
</head>

<body>
  <!-- 
    带有if的可以写条件
   -->

  <div id="app">
    <p v-if="gender === 'male'">性别: 男</p>
    <p v-else>性别: 女</p>

    <hr>

    <p v-if="score >= 90">成绩评定A: 奖励电脑一台</p>
    <p v-else-if="score >= 80">成绩评定B: 奖励周末郊游</p>
    <p v-else-if="score >= 60">成绩评定C: 奖励零食礼包</p>
    <p v-else>成绩评定D: 惩罚一周不能玩手机</p>
  </div>

  <script src="./js/vue.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        gender: 'male',  
        score: 65
      }
    })
  </script>
</body>

</html>