<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  >
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div>
      姓名:
      <input
        type="text"
        v-model="username"
      />
    </div>

    <div>
      性别:
      <input
        type="radio"
        v-model="gender"
        value="male"
      >GG
      <input
        type="radio"
        v-model="gender"
        value="female"
      >MM
    </div>

    <div>
      爱好:
      <input type="checkbox" v-model="hobby" value="eat">吃饭
      <input type="checkbox" v-model="hobby" value="sleep">睡觉
      <input type="checkbox" v-model="hobby" value="play">打豆豆
    </div>

    <div>
      籍贯:
      <select v-model="address">
        <option value="beijing">北京市</option>
        <option value="shanghai">上海市</option>
        <option value="tianjin">天津市</option>
      </select>
    </div>

    <div>
      记住我:
      <input type="checkbox" v-model="isChecked">
    </div>
  </div>

  <script src="./js/vue.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        username: '',
        gender: 'male',
        // 多个复选框的时候设置数组
        hobby: [
          'sleep'
        ],
        address: 'shanghai',
        // 一个复选框的时候设置布尔值
        isChecked: true
      }
    })
  </script>
</body>

</html>