
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  margin: 100px auto;
  width: 800px;
}

.container .top {
  margin-bottom: 10px;
}

.container .table {
  border: 1px solid #ccc;
}

.container .table .thead {
  height: 60px;
  background-color: #cccccc;
}

.container .table .thead .tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
}

.container .table .tbody .tr {
  display: flex;
  align-items: center;
  height: 135px;
  border-bottom: 1px solid #ccc;
}

.container .table .tbody .tr .td {
  width: 130px;
  text-align: center;
}

.container .table .tbody .tr .td:nth-of-type(4) {
  display: flex;
  flex: 1;
}

.container .table .tbody .tr .td:nth-of-type(4) button {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
}

.container .table .tbody .tr .td:nth-of-type(4) span {
  width: 70px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
}

.container .table .tbody .tr .td:nth-of-type(6) button {
  width: 70px;
  height: 35px;
  background-color: #e1251b;
  border: none;
  color: #fff;
}

.container .tfoot .tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
}

.container .tfoot .tr .td:nth-of-type(2) {
  flex: 1;
  padding-right: 12px;
  text-align: right;
}

.container .tfoot .tr .td:nth-of-type(2) span:nth-of-type(2) {
  font-size: 30px;
  vertical-align: -4px;
  font-weight: 700;
  color: pink;
}

.container .tfoot .tr button {
  width: 80px;
  height: 35px;
  background-color: #5588aa;
  color: #fff;
  border: none;
}

.container .active {
  background-color: pink;
}

.container .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 30px;
  border: 1px solid #ccc;
  color: #ccc;
}

.container img {
  width: 100px;
}

.container button {
  cursor: pointer;
}

.container button:disabled {
  cursor: not-allowed;
}
