
.wrapper {
  display: flex;
  padding: 10px;
}

/* 左边的列表盒子 */
.list-box {
  flex: 1;
  padding: 30px;
}

.list-box a {
  text-decoration: none;
}

.my-form {
  display: flex;
  margin: 20px 0;
}

.my-form input {
  flex: 1;
  margin-right: 20px;
}

tfoot {
  font-weight: 700;
}

.echarts-box {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .echarts-box {
    margin-top: 30px;
  }
}

.red {
  color: red !important;
}
