* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #e2e2e2;
}

.container {
  margin: 100px auto;
  width: 500px;
}
.container h2 {
  padding-bottom: 20px;
  text-align: center;
  color: #bc655a;
  font-weight: 100;
  font-size: 40px;
}
.container .box {
  position: relative;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 2px rgba(0 0 0 / .5);
}
.container .box::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%);
  width: 98%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0 0 0 / .5);
  z-index: -1;
}
.container .box::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  width: 96%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0 0 0 / .5);
  z-index: -2;
}
.container .box .input-box {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.container .box .input-box input {
  flex: 1;
  border: 1px solid #bc655c;
  outline: none;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  color: #ddd;
  font-style: italic;
  padding: 0 1em;
}
.container .box .input-box input::placeholder {
  color: #ddd;
}
.container .box .input-box button {
  width: 100px;
  border: none;
  background-color: #bb655d;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.container .box .content-box li {
  padding: 12px 8px;
  text-align-last: left;
  border-bottom: 1px solid #ddd;
  color: rgba(0 0 0 / 0.7);
}
.container .box .content-box li:hover i {
  opacity: 1;
}
.container .box .content-box li i {
  float: right;
  opacity: 0;
  transition: all 0.3s;
  color: rgba(185, 101, 98, 70%);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.container .box .content-box li i:hover {
  color: rgba(185, 101, 98, 100%);
}
.container .box .content-box li span {
  padding-right: 1em;
}
.container .box .content-box li strong {
  font-weight: 400;
}
.container .box .footer-box {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 0;
  color: rgba(0 0 0 / 0.5);
}
.container .box .footer-box a:hover {
  text-decoration: underline;
}
